services:
  api:
    build: .
    working_dir: /app
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    environment:
      DATABASE_URL: postgresql+asyncpg://saul:secret@postgres:5432/market_data
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      ALPHA_VANTAGE_API_KEY: "XB56ZK08462X9DFC"
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    restart: on-failure

  consumer:
    build:
      context: .
      dockerfile: Dockerfile.consumer
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      DATABASE_URL: postgresql+asyncpg://saul:secret@postgres:5432/market_data
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
    restart: on-failure

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/commands/srvr || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka:7.3.1
    container_name: market-data-service-kafka-1
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
      - "29092:29092"
    depends_on:
      zookeeper:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "kafka-broker-api-versions --bootstrap-server localhost:9092"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: saul
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: market_data
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U saul -d market_data"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
